.main-image {
  box-shadow: 9px 9px 20px rgb(148, 148, 148);
  /* border: 3px solid red; */
  width: 100%;
  border-radius: 15px;
}

.containero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: green 3px solid;
  height: 600px;
  margin-top: 200px;
  margin-bottom: 450px;
  width: 100%;
}

.image-containers {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  flex-flow: row wrap;
  /* border: red 3px solid; */
  width: 700px;
  height: 550px;
}

.lake {
  position: absolute;
  bottom: 25px;
  right: 16px;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
}
.freshwater {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 13px;
  text-shadow: 2px 2px 4px #000000;
}

.inner-container {
  display: flex;
  /* border: red 3px solid; */
  margin-left: 30px;
  flex-flow: column nowrap;
  width: 1000px;
  background-color: rgb(29, 88, 55);
  border-radius: 20px;
  color: white;
}
.angler {
  display: flex;
  /* border: 3px solid blue; */
  width: max-content;
  height: max-content;
  margin-top: 10px;
  margin-left: 6px;
  font-size: 31px;
  text-shadow: 4px 4px 6px black;
}

.caught {
  display: flex;
  /* border: 3px solid yellow; */
  width: max-content;
  height: max-content;
  margin-left: 190px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  word-spacing: 2px;
  text-shadow: 4px 4px 6px black;
}

.description {
  display: flex;
  /* border: 3px solid purple; */
  max-width: 940px;
  height: max-content;
  margin-left: 10px;
  margin-bottom: 50px;
  /* background-color: black; */
  padding: 10px;
  border-radius: 10px;
  word-spacing: 2px;
  line-height: 1.6;
  text-align: start;
  text-shadow: 5px 5px 6px black;
}

.location {
  display: flex;
  flex-flow: row wrap;
  /* border: 3px solid black; */
  width: max-content;
  height: max-content;
  margin-left: 400px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 6px black;
}
