.main-image {
  box-shadow: 9px 9px 20px rgb(148, 148, 148);
  border: 3px solid red;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: green 3px solid;
  height: 600px;
}

.image-containers {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  flex-flow: row wrap;
  border: red 3px solid;
  width: 700px;
  height: 550px;
}

.lake {
  position: absolute;
  bottom: 25px;
  right: 16px;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
}
.freshwater {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 13px;
  text-shadow: 2px 2px 4px #000000;
}

.inner-container {
  display: flex;
  border: red 3px solid;
  margin-left: 30px;
  flex-flow: column nowrap;
  width: 900px;
}
.angler {
  display: flex;
  border: 3px solid blue;
  width: max-content;
  height: max-content;
  margin-top: 10px;
}

.caught {
  display: flex;
  border: 3px solid yellow;
  width: max-content;
  height: max-content;
  margin-left: 30px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.description {
  display: flex;
  border: 3px solid purple;
  width: max-content;
  height: max-content;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.location {
  display: flex;
  flex-flow: row wrap;
  border: 3px solid black;
  width: max-content;
  height: max-content;
  margin-left: 750px;
  margin-bottom: 10px;
}
