.fish-button {
  position: relative;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background: none;
  overflow: hidden;
  transition: 0.3s;
  animation: ease-in;
}

.fish-button:hover {
  transform: scale(1.1);
}

.test {
  position: absolute;
  top: 42%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgb(173, 226, 173);
}

.navbar {
  background-image: url("https://i.imgur.com/3uST4Fx.jpg");
  background-position: top;
}

body {
  background-image: url("https://i.imgur.com/FfWODYy.jpg");
  background-position: center;
}
